.cover__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.cover__link::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
    transition: .8s;
}

.cover__link:hover::before {
    opacity: 0.8;
}