.place__image {
    display: block;
    object-fit: contain;
    max-width: 460px;
}

@media screen and (max-width: 1115px ) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 1000px ) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 370px ) {
    .place__image {
        max-width: 100%;
    }
}