.footer__links {
    display: flex;
    gap: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px ) {
    .footer__links {
        flex-direction: column;
        gap: 32px;
        font-size: 24px;
        line-height: 1;
    }
}